body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    line-height: 1.5;
    padding: 0; 
    margin: 0; 
    background-color: powderblue; 
}

.container{
    width: 80%; 
    margin: auto; 
}
ul{
    margin: 0; 
    padding: 0
}
header{
    /*background=; */
    padding-top: 30px; 
    min-height: 70px; 
    border-bottom: #e8491d 3px solid; 
    
}

header a{
    color:#ffffff; 
    text-decoration: none; 
    text-transform: uppercase;
    font-size: 16px; 
}

/* Unordered List */

/* List Items */
header li{
    float: left; 
    display: inline; 
    padding: 0 20px 0 20px;
}

header #branding{
    float: left; 
}

header #branding h1{
    margin: 0; 
}

header nav{
    float: right; 
    margin-top: 10px; 
}

header .highlight, header .current a{
    color: #e8491d; 
    font-weight: bold;
}

header a:hover{
    color: #cccccc; 
    font-weight: bold;
}

.about h1 {
    font-weight: bolder; 
    margin-top: 0px; 
    margin-bottom: 0px; 
    font-size: 50px;
    text-align: center; 
    color: white; 
    text-shadow:
    -1px -1px 0 #e8491d,
     0   -1px 0 #e8491d,
     1px -1px 0 #e8491d,
     1px  0   0 #e8491d,
     1px  1px 0 #e8491d,
     0    1px 0 #e8491d,
    -1px  1px 0 #e8491d,
    -1px  0   0 #e8491d;
}

.about p{

}

/*Showcase*/
#showcase{
    min-height: 400px; 
    background:url('./images/background.jpg') no-repeat;
    background-size: 100% 400px;
    opacity: 1.0; 
    text-align: center; 
    color: white; 
}

#showcase h1{
    margin-top:100px; 
    font-size: 55px; 
    margin-bottom:10px; 
}

#showcase p{
    font-size: 25px; 
}

footer{
    padding: 10px; 
    margin-top: 30px; 
    color: white; 
    background-color: #e8491d; 
    text-align: center; 
}

.media ul{
    display: table;
    margin: 0 auto; 
}
.media h1 {
    font-weight: bolder; 
    font-size: 80px;
    color: #fff; 
    text-align: center; 
    padding-top: 0px; 
    margin-top: 10px; 
    margin-bottom: 0px; 
       text-shadow:
    -1px -1px 0 #e8491d,
     0   -1px 0 #e8491d,
     1px -1px 0 #e8491d,
     1px  0   0 #e8491d,
     1px  1px 0 #e8491d,
     0    1px 0 #e8491d,
    -1px  1px 0 #e8491d,
    -1px  0   0 #e8491d;
}
.media h2 {
    font-weight: bolder; 
    font-size: 30px;
    color: #e8491d; 
    text-align: center; 
    padding-top: 20px; 
    margin-bottom: 0; 
}


.media li{
    list-style: none; 
    margin: 10px 30px; 
    display: inline-block; 
    font-size: 20px; 
    padding: 20px 20px; 
    color: #fff; 
    transition: .5s; 
}

.media li:hover {
    color: #cccccc; 
 
}



